@font-face {
	font-family: 'websymbolsligaregular';
	src: url('~@/assets/fonts/websymbolsligaregular.eot');
	src: url('~@/assets/fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/websymbolsligaregular.woff') format('woff'),
		url('~@/assets/fonts/websymbolsligaregular.ttf') format('truetype'),
		url('~@/assets/fonts/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('~@/assets/fonts/OpenSans-Regular.eot#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/OpenSans-Regular.woff') format('woff'), url('~@/assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('~@/assets/fonts/OpenSans-SemiBold.eot#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/OpenSans-SemiBold.woff') format('woff'), url('~@/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
